altair==5.3.*
anyio==4.3.*
appnope==0.1.*
argon2-cffi==23.1.*
argon2-cffi-bindings==21.2.*
arrow==1.3.*
asttokens==2.4.*
async-lru==2.0.*
attrs==23.2.*
Babel==2.14.*
beautifulsoup4==4.12.*
bleach==6.1.*
blinker==1.7.*
certifi==2024.2.*
cffi==1.16.*
charset-normalizer==3.3.*
click==8.1.*
comm==0.2.*
contourpy==1.2.*
cycler==0.12.*
dash==2.16.*
dash-bootstrap-components==1.5.*
dash-core-components==2.0.*
dash-html-components==2.0.*
dash-table==5.0.*
dash-vega-components==0.8.*
debugpy==1.8.*
decorator==5.1.*
defusedxml==0.7.*
executing==2.0.*
fastjsonschema==2.19.*
Flask==3.0.*
fonttools==4.50.*
fqdn==1.5.*
gunicorn==21.2.*
idna==3.6
importlib_metadata==7.1.*
ipykernel==6.29.*
ipython==8.22.*
isoduration==20.11.*
itsdangerous==2.1.*
jedi==0.19.*
Jinja2==3.1.*
json5==0.9.*
jsonpointer==2.4
jsonschema==4.21.*
jsonschema-specifications==2023.12.*
jupyter_client==8.6.*
jupyter_core==5.7.*
jupyter-events==0.10.*
jupyter-lsp==2.2.*
jupyter_server==2.13.*
jupyter_server_terminals==0.5.*
jupyterlab==4.0.*
jupyterlab_pygments==0.3.*
jupyterlab_server==2.25.*
kiwisolver==1.4.*
MarkupSafe==2.1.*
matplotlib==3.8.*
matplotlib-inline==0.1.*
mistune==3.0.*
nbclient==0.10.*
nbconvert==7.16.*
nbformat==5.10.*
nest-asyncio==1.6.*
notebook_shim==0.2.*
numpy==1.26.*
overrides==7.7.*
packaging==24.*
pandas==2.2.*
pandocfilters==1.5.*
parso==0.8.*
pexpect==4.9.*
pillow==10.2.*
pip==24.*
platformdirs==4.2.*
plotly==5.20.*
prometheus_client==0.20.*
prompt-toolkit==3.0.*
psutil==5.9.*
ptyprocess==0.7.*
pure-eval==0.2.*
pycparser==2.21
Pygments==2.17.*
pyparsing==3.1.*
python-dateutil==2.9.*
python-json-logger==2.0.*
pytz==2024.1
PyYAML==6.0.*
pyzmq==25.1.*
referencing==0.34.*
requests==2.31.*
retrying==1.3.*
rfc3339-validator==0.1.*
rfc3986-validator==0.1.*
rpds-py==0.18.*
scipy==1.12.*
Send2Trash==1.8.*
setuptools==69.*
six==1.16.*
sniffio==1.3.*
soupsieve==2.5
stack-data==0.6.*
tenacity==8.2.*
terminado==0.18.*
tinycss2==1.2.*
toolz==0.12.*
tornado==6.4
traitlets==5.14.*
types-python-dateutil==2.9.*
typing_extensions==4.10.*
tzdata==2024.1
uri-template==1.3.*
urllib3==2.2.*
wcwidth==0.2.*
webcolors==1.13
webencodings==0.5.*
websocket-client==1.7.*
Werkzeug==3.0.*
wheel==0.43.*
zipp==3.18.*
pyarrow==15.0.*