altair==5.*
anyio==4.*
appnope==0.*
argon2-cffi==23.*
argon2-cffi-bindings==21.*
arrow==1.*
asttokens==2.*
async-lru==2.*
attrs==23.*
Babel==2.*
beautifulsoup4==4.*
bleach==6.*
blinker==1.*
certifi==2024.*
cffi==1.*
charset-normalizer==3.*
click==8.*
colorama==0.*
comm==0.*
contourpy==1.*
cycler==0.*
dash==2.*
dash-bootstrap-components==1.*
dash-core-components==2.*
dash-html-components==2.*
dash-table==5.*
dash-vega-components==0.*
debugpy==1.*
decorator==5.*
defusedxml==0.*
exceptiongroup==1.*
executing==2.*
fastjsonschema==2.*
Flask==3.*
fonttools==4.*
fqdn==1.*
idna==3.*
importlib_metadata==7.*
ipykernel==6.*
ipython==8.*
isoduration==20.*
itsdangerous==2.*
jedi==0.*
Jinja2==3.*
json5==0.*
jsonpointer==2.*
jsonschema==4.*
jsonschema-specifications==2023.*
jupyter_client==8.*
jupyter_core==5.*
jupyter-events==0.*
jupyter-lsp==2.*
jupyter_server==2.*
jupyter_server_terminals==0.*
jupyterlab==4.*
jupyterlab_pygments==0.*
jupyterlab_server==2.*
kiwisolver==1.*
MarkupSafe==2.*
matplotlib==3.*
matplotlib-inline==0.*
mistune==3.*
nbclient==0.*
nbconvert==7.*
nbformat==5.*
nest-asyncio==1.*
notebook_shim==0.*
numpy==1.*
overrides==7.*
packaging==24.*
pandas==2.*
pandocfilters==1.*
parso==0.*
pexpect==4.*
pillow==10.*
pip==24.*
platformdirs==4.*
plotly==5.*
prometheus_client==0.*
prompt-toolkit==3.*
psutil==5.*
ptyprocess==0.*
pure-eval==0.*
pycparser==2.*
Pygments==2.*
pyparsing==3.*
python-dateutil==2.*
python-json-logger==2.*
pytz==2024.*
pywin32==306
pywinpty==2.*
PyYAML==6.*
pyzmq==25.*
referencing==0.*
requests==2.*
retrying==1.*
rfc3339-validator==0.*
rfc3986-validator==0.*
rpds-py==0.*
scipy==1.*
Send2Trash==1.*
setuptools==69.*
six==1.*
sniffio==1.*
soupsieve==2.*
stack-data==0.*
tenacity==8.*
terminado==0.*
tinycss2==1.*
tomli==2.*
toolz==0.*
tornado==6.*
traitlets==5.*
types-python-dateutil==2.*
typing_extensions==4.*
tzdata==2024.*
uri-template==1.*
urllib3==2.*
wcwidth==0.*
webcolors==1.*
webencodings==0.*
websocket-client==1.*
Werkzeug==3.*
wheel==0.*
zipp==3.*
