/********** Template CSS **********/


/* Body */
body {
    background-color: #A6CAEC; /* Light blue */
    color: white;
}

/* Headers */
h1, h2, h3 {
    color: #0660a9; /* Blue */
}

/* Paragraphs */
p {
    color: #888888; /* Gray */
}

/* Links */
a {
    color: #ed1c23; /* Red */
}

