.vertical-line-row > .col {
    border-right: 1px solid white;
}

.vertical-line-row > .col:last-child {
    border-right: none;
}

.custom-slider .rc-slider-track {
    background-color: #ed1c23 !important; /* Custom color for the selected range */
}

.custom-slider .rc-slider-handle {  
    border-color: #ffffff !important;
}

.Select-menu-outer {
    font-size: 15px; /* Set the font size as desired */
}

.Select-control {
    font-size: 15px; /* Set the font size for the selected items and input control */
}

.vertical-line-row > .col-md-6:first-child {
    border-right: 1px solid #ccc;  /* Light grey border */
}

.height-specific-row {
    height: 400px !important;  /* using !important to override any other conflicting styles */
}

.column-height {
    height: 800px !important;
}